# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
.venv/
venv/

# Node
node_modules/
.next/
.vercel/
*.log
.env.local
.env.production.local
.DS_Store

# IDE
.idea/
.vscode/
*.swp

# Docker
*.override.yml

# Generated
alembic/versions/*.py
